* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #711423;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #e0e3f0;
    height: 100%;
    min-height: 100vh;
    border: 20px solid white;
    position: relative;
}

header {
    margin: 20px 0 0 50px;
}

ul {
    list-style: none;
    position: fixed;
    z-index: 1;
}
li {
    font-size: 30px;
    margin: 30px 0;
}
a {
    text-decoration: none;
}
a:hover {
    font-weight: 700;
}
.contact {
    position: relative;
    width: 70%;
    top: 7vmin;
    right: 5%;
    float: right; 
}
h1 {
    font-weight: 100;
    font-size: 60px;
}
h2 {
    font-size: 30px;
    margin: 20px 0 30px 0;
    line-height: 1.2em;
}
h3{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5em;
    margin: 40px 0 0 0;
}
button {
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #711423;
    background-color:#e0e3f0;
    padding: 10px 20px;
    border-radius: 20px;
    transition: color 0.4s linear;
    cursor: pointer;
    outline: none;
}
button:hover {
    color: white;
    background-color:#711423;
}
.social {
    text-decoration: underline;
}
footer {
    position: fixed;
}


@media only screen and (min-width: 801px) {
    ul {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    footer {
        bottom: 4%;
        right: 3%;
    }
}

@media only screen and (max-width: 800px) {
    button {
        display: none;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: -25px;
    }
    ul {
        width: 100%;
        display: flex;
        bottom: 0%;
        background-color: white;
        justify-content: space-around;
        box-shadow: 12px -10px 20px 1px rgba(0, 0, 0, 0.15);
        
       
    }
    li {
        font-size: 30px;
        margin: 30px 0;
       
    }
    footer {
        top: 5%;
        right: 7%;
    }
}