* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #711423;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #e0e3f0;
    height: 100%;
    min-height: 100vh;
    border: 20px solid white;
    position: relative;
}

header {
    margin: 20px 0 0 50px;
}

ul {
    list-style: none;
    position: fixed;
    z-index: 1;
    
}
li {
    font-size: 30px;
    margin: 30px 0;
}
a {
    text-decoration: none;
}
a:hover {
    font-weight: 700;
}
.welcome {
    position: relative;
    width: 78%;
    top: 100px;
}
.intro {
    font-size: 90px;
    font-weight: 100;
}
.intro-2 {
    line-height: 1.5em;
    font-size: 30px;
    margin-top: 40px;
}

.call-to-action {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #711423;
    background-color:#e0e3f0;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 20px;
    border-radius: 20px;
    transition: color 0.4s linear;
    cursor: pointer;
    outline: none;
}
.call-to-action:hover {
    color: white;
    background-color:#711423;
}
footer {
    position: fixed;
}
@media only screen and (min-width: 801px) {
    ul {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .welcome {
        float: right;
    }
    .intro-2 {
        margin-left: 40px;
    }
    footer {
        bottom: 4%;
        right: 3%;
    }
}

@media only screen and (max-width: 800px) {
    button {
        display: none;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: -25px;
    }
    ul {
        width: 100%;
        display: flex;
        bottom: 0%;
        background-color: white;
        justify-content: space-around;
        box-shadow: 12px -10px 20px 1px rgba(0, 0, 0, 0.15);
        
       
    }
    li {
        font-size: 30px;
        margin: 30px 0;
       
    }
    .welcome {
        margin: 100px auto;
    }

    footer {
        top: 45px;
        right: 7%;
    }
}

@media only screen and (max-width: 500px) {
    li {
        font-size: 20px;
    }
    .intro {
        font-size: 55px;
    }
    .intro-2 {
        font-size: 23px;
    }
    header {
        margin-left: 25px;
    }
    ul {
        margin-right:-25px;
    }
    .welcome {
        top: 60px;
    }
    
}
