* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #711423;
    font-family: 'Josefin Sans', sans-serif;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-color: #e0e3f0;
    border: 20px solid white;
    position: absolute;
} 
header {
    margin: 40px 0 0 70px;
    position: fixed;
    height: 90vh;  
}

nav {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
ul {
    list-style: none;
}
li {
    margin: 30px 0;
}
a {
    text-decoration: none;
    font-size: 30px;
}
a:hover {
    font-weight: 700;
}
main {
    width: 80%;
    float: right;
    border: 10px solid black;

}

/* Home Page */
.home {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    border: 2px solid black;
}
.intro {
    font-weight: 100;
    font-size: 90px;
}
.intro-2 {
    font-size: 30px;
    margin: 25px 0 0 30px;
    line-height: 1.3em;
    letter-spacing: 0.05em;
}


.call-to-action {
    display: inline-flex;
    border: 2px solid #711423;
    text-align: center;
}


footer {
    position: fixed;
    bottom: 5%;
    right: 3%;
}
