* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #711423;
    font-family: 'Josefin Sans', sans-serif;
}
html {
    background-color: white;
}

body {
    margin: 20px;
    background-color: #e0e3f0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}